* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Courier New", Courier, monospace;
    background-color: #f1f1f1;
    color: #000;
    padding-top: 40px;
}
header {
    background-color: transparent;
    padding: 10px 20px 5px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    
}
.logo {
    font-size: 1.5em;
}
.logo a{
    text-decoration: none;
    color: blue;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    text-decoration: none;

    color: blue;
}
.dropdown {
    position: relative;
}
.dropbtn {
    background-color: transparent;
    color: blue;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;

    min-width: 160px;
    z-index: 1;
    color: blue;
}
.dropdown-content a {
    color: blue;
    padding: 2px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    text-decoration: line-through;
    text-decoration-color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.content {
    padding: 10px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content label {
    font-size: 3em;
    margin: 0;
    width: 100%;
}
.content label a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.3s ease;
}
.content label a:hover {
    text-decoration: line-through;
    text-decoration-color: blue;
}
.icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f1f1f1;
    }
    .nav-links li {
        margin: 0;
        width: 100%;
    }
    .nav-links a,
    .dropbtn {
        display: block;
        padding: 15px;
        width: 100%;
        text-align: left;
    }
    .dropdown {
        width: 100%;
    }
    .dropdown-content {
        position: static;
        width: 100%;
        display: none;
    }
    .dropdown-content a {
        padding-left: 60px;
    }
    .icon {
        display: block;
    }
    .responsive .nav-links {
        display: flex;
    }
    .responsive .dropdown-content {
        display: none;
    }
    .responsive .dropdown.active .dropdown-content {
        display: block;
    }
    .content label {
        font-size: 1.5em;
    }
}
