/* Reset and Box-Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and Typography */
body {
    font-family: "Courier New", Courier, monospace;
    background-color: #ffffff;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 80%; /* Added this line */
    margin: 0 auto; /* Added this line */
    padding-left,padding-right: 30px; /* Added this line */
}

/* Header Styles */
header {
    background-color: #ffffff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title-background {
    position: relative;
}

.title-background h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25em; /* Adjust as needed */
    color: rgba(0, 0, 0, 0.1); /* Light color for background text */
    z-index: -1; /* Ensure it's behind the label */
    pointer-events: none; /* Make sure it doesn't interfere with clicks */
}

.title-background label {
    position: relative;
    z-index: 1; /* Make sure labels are above the background title */
    font-size: 5.8em;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 10px 6px rgba(48, 47, 46, 0.79);
    border: 1px solid #000;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

/* Default: Show light mode logo, hide dark mode logo */
.logo-light {
    display: block;
}

.logo-dark {
    display: none;
}

/* Dark Mode: Hide light mode logo, show dark mode logo */
.dark-mode .logo-light {
    display: none;
}

.dark-mode .logo-dark {
    display: block;
}

.logo img {
    max-height: 40px; /* Adjust size */
    width: auto; /* Maintain aspect ratio */
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: blue;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropbtn {
    background-color: transparent;
    color: blue;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: line-through;
    text-decoration-color: black;
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero Section Styles */
.hero {
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    background-color: #f8f9fa;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.hero-content {
    flex: 1;
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #333;
    transition: color 0.3s ease;
}

.hero .tagline {
    font-size: 1.2rem;
    color: #0000ff;
    margin-bottom: 1rem;
    transition: color 0.3s ease;
}

.hero .intro {
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
    color: #666;
    transition: color 0.3s ease;
}

.hero .key-skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 -0.5rem;
}

.hero .key-skills li {
    margin: 0.5rem;
    background-color: #e9ecef;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #333;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.hero .key-skills li:hover {
    background-color: #000000;
    color: #ffffff;
}

.hero-image {
    flex: 1;
    text-align: center;
    max-width: 400px;
    margin-left: 2rem;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* CTA Button Styles */
.cta-buttons {
    margin-top: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
}

.cta-button.primary {
    background-color: #0000ff;
    color: white;
    border: 2px solid #0000ff;
}

.cta-button.primary:hover {
    background-color: transparent;
    color: #0000ff;
    border: 2px solid #0000ff;
}

.cta-button.secondary {
    background-color: transparent;
    color: #0000ff;
    border: 2px solid #0000ff;
}

.cta-button.secondary:hover {
    background-color: #0000ff;
    color: #ffffff;
    border-color: #0000ff;
}

/* Dark Mode Hero Styles */
body.dark-mode .cta-button.primary {
    background-color: #0000ff;
    color: #00000;
    border-color: #0000ff;
}

body.dark-mode .cta-button.primary:hover {
    background-color: transparent;
    color: #fff;
    border-color: #0000ff;
}

body.dark-mode .cta-button.secondary {
    color: #ffffff;
    border-color: #0000ff;
}

body.dark-mode .cta-button.secondary:hover {
    background-color: #0000ff;
    color: #ffffff;
    border-color: #0000ff;
}
body.dark-mode .hero .key-skills li:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Main Content Styles */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.content label {
    font-size: 1.8em;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 10px 6px rgba(48, 47, 46, 0.79);
    border: 1px solid #000;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.content label:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: blue;
    color: white;
}

.content label a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.3s ease;
}

.content h1 {
    font-size: 2.5em;
    margin: 30px 0 20px;
    width: 100%;
    grid-column: 1 / -1;
}

.icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}
/* About Me Page Styles */
.about-me-body {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.6;
    color: #000;
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
}

.about-me-body h1 {
    color: #000;
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.about-me-body h2 {
    color: #fff;
    padding: 10px;
}

.about-me-body p,
.about-me-body li,
.about-me-body ul {
    padding-right: 60px;
    padding-left: 60px;
    font-size: 2vh;
}

.about-me-body .section {
    margin-bottom: 10px;
}

.about-me-body .blue-bar {
    background-color: #0000ff;
    color: black;
    padding: 10px;
    margin: 20px 0;
}

.about-me-body .hire-me {
    background-color: #0000ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}

.about-me-body .hire-me:hover {
    background-color: #0000cc;
    transform: translateY(-3px);
}

.about-me-body .social-links {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.about-me-body .social-link {
    background-color: #0000ff;
    color: white;
    padding: 10px;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    margin: 0 5px;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.about-me-body .social-link:hover {
    background-color: #0000cc;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Dark Mode Toggle */
.dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 5px;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.dark-mode-toggle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.dark-mode-toggle .fa-sun {
    opacity: 1;
}

.dark-mode-toggle .fa-moon {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg);
}

.dark-mode-toggle.dark-mode .fa-sun {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.dark-mode-toggle.dark-mode .fa-moon {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0);
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #333;
    color: #f1f1f1;
}

.dark-mode header {
    background-color: #222;
    border-bottom-color: #444;
}

.dark-mode .logo a,
.dark-mode .nav-links a,
.dark-mode .dropbtn {
    color: #f1f1f1;
}

.dark-mode .dropdown-content {
    background-color: #222;
}

.dark-mode .dropdown-content a:hover {
    background-color: #444;
}

.dark-mode .content label {
    background-color: #444;
    color: #f1f1f1;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.5);
}

.dark-mode .content label:hover {
    background-color: #0000ff;
    color: #f1f1f1;
}

.dark-mode footer {
    background-color: #222;
    border-top-color: #444;
}

.dark-mode .footer-section h3 {
    color: #f1f1f1;
}

.dark-mode .footer-section ul li a,
.dark-mode .footer-bottom,
.dark-mode .social-icons a {
    color: #ccc;
}

.dark-mode .footer-section ul li a:hover,
.dark-mode .social-icons a:hover {
    color: #2196f3;
}
.dark-mode .footer-section p {
    color: #f1f1f1;
}

/*Dark Mode of hero section */
body.dark-mode .hero {
    background-color: #1a1a1a;
}

body.dark-mode .hero h1 {
    color: #f1f1f1;
}

body.dark-mode .hero .tagline {
    color: #4d94ff; /* Lighter blue for dark mode */
}

body.dark-mode .hero .intro {
    color: #b0b0b0;
}

body.dark-mode .hero .key-skills li {
    background-color: #333;
    color: #f1f1f1;
}

/* Dark Mode Styles for About Me Page */
.dark-mode .about-me-body {
    background-color: #333;
    color: #f1f1f1;
}

.dark-mode .about-me-body h1 {
    color: #f1f1f1;
    border-top-color: #444;
    border-bottom-color: #444;
}

.dark-mode .about-me-body h2 {
    color: #f1f1f1;
}

.dark-mode .about-me-body .blue-bar {
    background-color: #0000cc;
    color: #f1f1f1;
}

.dark-mode .about-me-body .hire-me {
    background-color: #0000cc;
    color: #f1f1f1;
}

.dark-mode .about-me-body .hire-me:hover {
    background-color: #0000ff;
}

.dark-mode .about-me-body .social-link {
    background-color: #0000cc;
    color: #f1f1f1;
}

.dark-mode .about-me-body .social-link:hover {
    background-color: #0000ff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Tag Styles */
.tag {
    display: inline-block;
    background-color: #e0e0e0;
    color: #333;
    padding: 2px 8px;
    font-size: 0.4em;
    margin-right: 5px;
    margin-top: 5px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.content label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content label a {
    flex: 1 1 100%;
    margin-bottom: 5px;
}

/* Dark Mode Styles for Tags */
.dark-mode .tag {
    background-color: #1c1b1b;
    color: #f1f1f1;
}

/* Hover Effect for Tags */
.content label:hover .tag {
    background-color: #020202;
    color: white;
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    border-top: 1px solid #040404;
    padding: 40px 20px;
    font-family: "Courier New", Courier, monospace;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: blue;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #0000ff;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
    color: #999;
    font-size: 0.9em;
}

.footer-bottom p {
    margin: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icons a {
    color: #666;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0000ff;
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 3rem 1.5rem;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero .intro {
        font-size: 0.9rem;
    }

    .hero .key-skills {
        justify-content: center;
    }

    .hero-image {
        margin-left: 0;
        margin-top: 2rem;
        max-width: 300px;
    }

    .cta-buttons {
        justify-content: center;
    }
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    body {
        max-width: 95%; /* Updated this line */
        padding: 15px; /* Updated this line */
    }
    .logo img {
        max-height: 40px; /* Smaller logo for mobile */
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links li {
        margin: 10px 0;
        width: 100%;
    }

    .nav-links a,
    .dropbtn {
        display: block;
        padding: 15px;
        width: 100%;
        text-align: left;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown-content {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-content a {
        padding-left: 30px;
    }

    .icon {
        display: block;
        align-self: flex-end;
        margin-top: -40px;
        position: absolute;
        top: 60px;
        right: 20px;
    }

    .dark-mode-toggle {
        margin-left: 0;
        margin-top: 10px;
        align-self: flex-end;
        position: absolute;
        top: 10px;
        right: 70px;
    }

    .responsive .nav-links {
        display: flex;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content label {
        font-size: 1.2em;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 30px;
    }

    .tag {
        font-size: 0.7em;
        padding: 1px 6px;
    }

    pre {
        font-size: 14px;
        padding: 0.8em 1.2em;
    }
    .hero {
        padding: 2rem 1rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero .tagline {
        font-size: 1.1rem;
    }

    .hero .intro {
        font-size: 0.85rem;
    }

    .hero .key-skills li {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
    }

    .hero-image {
        max-width: 250px;
    }

    .cta-button {
        padding: 0.7rem 1.2rem;
        font-size: 0.9rem;
    }
    .about-me-body {
        max-width: 95%;
        padding: 15px;
    }

    .about-me-body p,
    .about-me-body li,
    .about-me-body ul {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 1.8vh;
    }

    .about-me-body .social-links {
        flex-direction: column;
    }

    .about-me-body .social-link {
        margin: 5px 0;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 100%; /* Updated this line */
        padding: 10px; /* Updated this line */
    }
    pre {
        font-size: 13px;
        padding: 0.2em 02em;
    }
    .hero h1 {
        font-size: 1.8rem;
    }

    .hero .tagline {
        font-size: 1rem;
    }

    .hero .intro {
        font-size: 0.8rem;
    }

    .hero .key-skills li {
        font-size: 0.75rem;
        padding: 0.3rem 0.6rem;
    }

    .hero-image {
        max-width: 200px;
    }

    .cta-button {
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
    .about-me-body {
        max-width: 100%;
        padding: 10px;
    }

    .about-me-body p,
    .about-me-body li,
    .about-me-body ul {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.6vh;
    }

    .about-me-body h1,
    .about-me-body h2 {
        font-size: 1.5em;
    }
}
