/* Reset and Box-Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and Typography */
body {
    font-family: "Noticia Text", serif;
    background-color: #ffffff;
    color: #242124;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%; /* Added this line */
    margin: 0 auto; /* Added this line */
    padding-left: 30px;
    padding-right: 30px; /* Added this line */
}

/* Header Styles */
header {
    background-color: #ffffff;
    padding: 30px;
    position: relative; /* Changed from sticky to relative */
    top: 0;
    z-index: 1000;
    border-bottom: 0px solid #303030;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title-background {
    position: relative;
}

.title-background h1 {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    font-size: 24em; /* Adjust as needed */
    color: 242124; /* Light color for background text */
    z-index: -1; /* Ensure it's behind the label */
    pointer-events: none; /* Make sure it doesn't interfere with clicks */
}

.title-background label {
    position: relative;
    z-index: 1; /* Make sure labels are above the background title */
    font-size: 6.3em;
    margin-bottom: 12px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 15px 6px rgba(48, 47, 46, 0.79);
    border: 3px solid #303030;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

/* Default: Show light mode logo, hide dark mode logo */
.logo-light {
    display: block;
}

.logo-dark {
    display: none;
}

/* Dark Mode: Hide light mode logo, show dark mode logo */
.dark-mode .logo-light {
    display: none;
}

.dark-mode .logo-dark {
    display: block;
}

.logo img {
    max-height: 60px; /* Adjust size */
    width: auto; /* Maintain aspect ratio */
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #242124;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropbtn {
    background-color: transparent;
    color: 242124;
    padding: 9px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
    background-color: #f3f3f3;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: 242124;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: line-through;
    text-decoration-color: 242124;
    background-color: #f3f3f3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero Section Styles */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem;
    background-color: #f3f3f3;
    min-height: 30vh;
    position: relative;
    overflow: hidden;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    gap: 3rem;
}

.hero-content {
    flex: 1;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #242124;
    margin-bottom: 1rem;
    line-height: 1.3;
    letter-spacing: -0.03em;
}

.hero .tagline {
    font-size: 1.6rem;
    color: #303030;
    margin-bottom: 1.25rem;
    font-weight: 300;
}

.hero .intro {
    font-size: 1.06rem;
    color: #303030;
    margin-bottom: 1.3rem;
    line-height: 1.6;
}

.hero .key-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-bottom: 3rem;
    list-style: none;
    padding: 0;
}

.hero .key-skills li {
    background-color: #f9f9f9;
    color: #242124;
    padding: 0.6rem 0.9rem;
    font-size: 0.85rem;
    border-radius: 15px;
    transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: 600;
}

.hero .key-skills li:hover {
    background-color: #242124;
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(36, 33, 36, 0.1);
    transition: transform 0.3s ease;
}

.hero-image img:hover {
    transform: scale(1.03);
}

.cta-buttons {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    font-size: 0.95rem;
    border-radius: 9px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 
        all 0.3s ease;
    border: 3px solid transparent;
}

.cta-button.primary {
    background-color: #242124;
    color: f3f3f3;
    border-color: #242124;
}

.cta-button.primary:hover {
    background-color: transparent;
    color: #242124;
    border-color: #242124;
}

.cta-button.secondary {
    background-color: transparent;
    color: #242124;
    border-color: #242124;
}

.cta-button.secondary:hover {
    background-color: #242124;
    color: #ffffff;
}
/* Dark Mode Hero Styles */
body.dark-mode .cta-button.primary {
    background-color: transparent;
    color: #f3f3f3;
    border-color: #242124;
}

body.dark-mode .cta-button.primary:hover {
    background-color: #242124;
    color: #f3f3f3;
    border-color: #242124;
}

body.dark-mode .cta-button.secondary {
    color: #ffffff;
    border-color: #242124;
}

body.dark-mode .cta-button.secondary:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: #242124;
}
body.dark-mode .hero .key-skills li:hover {
    background-color: #242124;
    color: #ffffff;
}

/* Main Content Styles */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
}

.content label {
    font-size: 1.9em;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 15px 6px rgba(48, 47, 46, 0.79);
    border: 1px solid #000;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.content label:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
    color: #303030;
}

.content label a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.3s ease;
}

.content h1 {
    font-size: 2.5em;
    margin: 30px 0 15px;
    width: 100%;
    grid-column: 1 / -1;
}

.icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}
/* About Me Page Styles */
.about-me-body {
    font-family: "Noticia Text", serif;
    line-height: 1.6;
    color: #242124;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
}

.about-me-body h1 {
    color: #242124;
    padding: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.about-me-body h2 {
    color: #f5f5f5;
    padding: 30px;
}

.about-me-body p,
.about-me-body li,
.about-me-body ul {
    padding-right: 60px;
    padding-left: 60px;
    font-size: 3vh;
}

.about-me-body .section {
    margin-bottom: 30px;
}

.about-me-body .blue-bar {
    background-color: #242124;
    color: #f5f5f5;
    padding: 10px;
    margin: 30px 0;
}

.about-me-body .hire-me {
    background-color: #f5f5f5;

    border: 3px solid transparent;
    color: #303030;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}

.about-me-body .hire-me:hover {
    background-color: #242124;
    transform: translateY(-3px);
    color: #f5f5f5;
}

.about-me-body .social-links {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.about-me-body .social-link {
    background-color: #242124;
    color: white;
    padding: 10px;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    margin: 0 5px;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.about-me-body .social-link:hover {
    background-color: #242124;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Dark Mode Toggle */
.dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 5px;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.dark-mode-toggle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.dark-mode-toggle .fa-sun {
    opacity: 1;
}

.dark-mode-toggle .fa-moon {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg);
}

.dark-mode-toggle.dark-mode .fa-sun {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.dark-mode-toggle.dark-mode .fa-moon {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0);
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #242124;
    color: #f3f3f3;
}

.dark-mode header {
    background-color: #242124;
    border-bottom-color: #303030;
}

.dark-mode .logo a,
.dark-mode .nav-links a,
.dark-mode .dropbtn {
    color: #f1f1f1;
}

.dark-mode .dropdown-content {
    background-color: #303030;
}

.dark-mode .dropdown-content a:hover {
    background-color: #303030;
}

.dark-mode .content label {
    background-color: #303030;
    color: #f1f1f1;
    box-shadow: 0 9px 6px rgba(0, 0, 0, 0.5);
}

.dark-mode .content label:hover {
    background-color: #000000;
    color: #f1f1f1;
}

.dark-mode footer {
    background-color: #222;
    border-top-color: #333;
}

.dark-mode .footer-section h3 {
    color: #f1f1f1;
}

.dark-mode .footer-section ul li a,
.dark-mode .footer-bottom,
.dark-mode .social-icons a {
    color: #e3e3e3;
}

.dark-mode .footer-section ul li a:hover,
.dark-mode .social-icons a:hover {
    color: #ffffff;
}
.dark-mode .footer-section p {
    color: #f1f1f1;
}
.dark-mode .footer-bottom p{
    color: #f1f1f1;
}
.dark-mode .footer-bottom p a{
    color: #f1f1f1;
}



/*Dark Mode of hero section */
body.dark-mode .hero {
    background-color: #3b3b3b;
}

body.dark-mode .hero h1 {
    color: #f3f3f3;
}

body.dark-mode .hero .tagline {
    color: #f3f3f3; /* Lighter blue for dark mode */
}

body.dark-mode .hero .intro {
    color: #f3f3f3;
}

body.dark-mode .hero .key-skills li {
    background-color: #333;
    color: #f3f3f3;
}

/* Dark Mode Styles for About Me Page */
.dark-mode .about-me-body {
    background-color: #303030;
    color: #f3f3f3;
}

.dark-mode .about-me-body h1 {
    color: #f3f3f3;
    border-top-color: #444;
    border-bottom-color: #444;
}

.dark-mode .about-me-body h2 {
    color: #f1f1f1;
}

.dark-mode .about-me-body .blue-bar {
    background-color: #0000cc;
    color: #f1f1f1;
}

.dark-mode .about-me-body .hire-me {
    background-color: #0000cc;
    color: #f1f1f1;
}

.dark-mode .about-me-body .hire-me:hover {
    background-color: #0000ff;
}

.dark-mode .about-me-body .social-link {
    background-color: #0000cc;
    color: #f1f1f1;
}

.dark-mode .about-me-body .social-link:hover {
    background-color: #0000ff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Tag Styles */
.tag {
    display: inline-block;
    background-color: #f5f5f5;
    color: #242124;
    padding: 3px 9px;
    font-size: 0.6em;
    margin-right: 6px;
    margin-top: 6px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.content label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content label a {
    flex: 1 1 100%;
    margin-bottom: 5px;
}

/* Dark Mode Styles for Tags */
.dark-mode .tag {
    background-color: #1c1b1b;
    color: #f5f5f5;
}

/* Hover Effect for Tags */
.content label:hover .tag {
    background-color: #242124;
    color: #f5f5f5;
}
/* Event Post Styles */
.event-post {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    font-family: "Noticia Text", serif;
    background-color: #f5f5f5;
    position: relative; /* Add this to ensure proper stacking */
    z-index: 1; /* Lower than the main header */
}

.event-header {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    position: relative; /* Ensure it's not affected by any sticky positioning */
}
/* Event Post Styles */
.event-title {
    color: #303030;
    font-size: 2.2em;
    margin-bottom: 10px;
    line-height: 1.2;
}

.event-meta {
    font-style: italic;
    color: #242124;
    font-size: 0.9em;
}

.event-image {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    margin-bottom: 20px;
}

.event-content {
    padding: 0 20px;
}

.event-content h2 {
    color: #242124;
    border-bottom: 3px solid #242124;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.event-content p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.event-takeaway {
    background-color: #f5f5f5;
    border-left: 5px solid #242124;
    padding: 15px;
    margin: 20px 0;
}

.event-content ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.event-content li {
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    background-color: #ffd700;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #242124;
}

/* Dark Mode Styles for Event Post */
body.dark-mode .event-post {
    background-color: #222;
    color: #f1f1f1;
}

body.dark-mode .event-header {
    background-color: #333;
}

body.dark-mode .event-title {
    color: #f5f5f5;
}

body.dark-mode .event-meta {
    color: #f5f5f5;
}

body.dark-mode .event-content h2 {
    color: #f5f5f5;
    border-bottom-color: #f5f5f5;
}

body.dark-mode .event-takeaway {
    background-color: #303030;
    border-left-color: #f5f5f5;
}

body.dark-mode .cta-button {
    background-color: #242124;
}
body.dark-mode .cta-button:hover {
    background-color: #303030;
}
/* Footer Styles */
footer {
    background-color: #ffffff;
    border-top: 3px solid #303030;
    padding: 60px 30px;
    font-family: "Noticia Text", serif;
}

.footer-content {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: 242124;
}

.footer-section {
    flex: 1;
    min-width: 90px;
    margin-bottom: 30px;
}

.footer-section h3 {
    font-size: 1.5em;
    color: #303030;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 15px;
}

.footer-section ul li a {
    color: #303030;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #242124;
}



.footer-bottom {
    margin-top: 30px;
    text-align: center;
    color: #303030;
    font-size: 0.9em;
}

.footer-bottom p,
a {
    margin: 5px 0;
    color: #303030;
    text-decoration: none;
}
.footer-bottom a:hover {
    color: #242124;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icons a {
    color: #E5E4E2;
    font-size: 1.5em;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #242124;
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 4rem 2rem;
        gap: 2rem;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
    }

    .hero h1 {
        font-size: 2.8rem;
    }

    .hero .tagline {
        font-size: 1.3rem;
    }

    .hero .key-skills {
        justify-content: center;
    }

    .hero-image {
        max-width: 400px;
    }

    .cta-buttons {
        justify-content: center;
    }

}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    body {
        max-width: 95%; /* Updated this line */
        padding: 15px; /* Updated this line */
    }
    .logo img {
        max-height: 40px; /* Smaller logo for mobile */
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links li {
        margin: 10px 0;
        width: 100%;
    }

    .nav-links a,
    .dropbtn {
        display: block;
        padding: 15px;
        width: 100%;
        text-align: left;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown-content {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-content a {
        padding-left: 30px;
    }

    .icon {
        display: block;
        align-self: flex-end;
        margin-top: -40px;
        position: absolute;
        top: 60px;
        right: 20px;
    }

    .dark-mode-toggle {
        margin-left: 0;
        margin-top: 10px;
        align-self: flex-end;
        position: absolute;
        top: 10px;
        right: 70px;
    }

    .responsive .nav-links {
        display: flex;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content label {
        font-size: 1.2em;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 30px;
    }

    .tag {
        font-size: 0.7em;
        padding: 1px 6px;
    }

    pre {
        font-size: 14px;
        padding: 0.8em 1.2em;
    }
    .hero {
        padding: 3rem 1.5rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero .tagline {
        font-size: 1.2rem;
    }

    .hero-image {
        max-width: 300px;
    }

    .cta-button {
        padding: 0.7rem 1.2rem;
        font-size: 0.9rem;
    }
    .about-me-body {
        max-width: 95%;
        padding: 15px;
    }

    .about-me-body p,
    .about-me-body li,
    .about-me-body ul {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 1.8vh;
    }

    .about-me-body .social-links {
        flex-direction: column;
    }

    .about-me-body .social-link {
        margin: 5px 0;
    }
    .event-post {
        padding: 15px;
    }

    .event-title {
        font-size: 2em;
    }

    .event-image {
        max-height: 300px;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 100%; /* Updated this line */
        padding: 10px; /* Updated this line */
    }
    pre {
        font-size: 13px;
        padding: 0.2em 02em;
    }
    .hero h1 {
        font-size: 2.2rem;
    }

    .hero .tagline {
        font-size: 1.1rem;
    }

    .hero .intro {
        font-size: 1rem;
    }

    .hero-image {
        max-width: 250px;
    }

    .cta-button {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }
    .about-me-body {
        max-width: 100%;
        padding: 10px;
    }

    .about-me-body p,
    .about-me-body li,
    .about-me-body ul {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.6vh;
    }

    .about-me-body h1,
    .about-me-body h2 {
        font-size: 1.5em;
    }
    .event-post {
        padding: 10px;
    }

    .event-title {
        font-size: 1.8em;
    }

    .event-image {
        max-height: 200px;
    }
    
}
